$animation-speed: 0.3s;

.tile-collapse-button {
  border: 0;
  background: none;
  padding-left: 0;
  position: relative;
  padding-right: 30px;

  .title-content {
    border-bottom: 1px solid #000;
  }

  .title-icon {
    svg {
      display: none;
      margin-left: 10px;
    }

    svg.fa-angle-down {
      display: inline-block;
    }
  }

  .sfondo-scuro & {
    color: #fff;

    .title-content {
      border-bottom-color: #fff;
    }
  }

  &:active,
  &:hover,
  &:focus {
    background: inherit;
    box-shadow: none;
    outline: none;
  }
}

@mixin make-collapsible() {
  .tileBody,
  .tileContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, top 0.5s ease-out;
    position: relative;
    top: 0;
  }

  .showMore {
    display: none;
  }

  &:not(.open) {
    .tileBody,
    .tileContent {
      padding: 0;
      margin: 0;
    }
  }

  &.open {
    .tileBody,
    .tileContent {
      max-height: 10000px;
      top: 15px;
      transition: top 0.1s ease-in;

      h2 {
        margin: 5px 0 10px;
      }
    }

    .showMore {
      display: block;
    }

    .tileTitle {
      margin-bottom: 15px;
    }

    .tile-collapse-button {
      .title-icon {
        svg.fa-angle-down {
          display: none;
        }

        svg.fa-angle-up {
          display: inline-block;
        }
      }
    }
  }
}

.tileWrapper {
  > .collapsible-desktop {
    @include make-collapsible;
  }

  > .collapsible {
    @media (max-width: 991px) {
      @include make-collapsible;
    }
  }
}
